body{
  background-color: #09182F;
}
.container{
  background-color: #09182F;
  color: aliceblue
  
;
}

button{
  background-color: #00dffc;
  border-color: #00dffc;
  display:inline-block;
  padding:0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:4em;
  box-sizing: border-box;
  text-decoration:none;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
}

