h2 {
text-align: center;
}

p {
  text-align: center;
  }
.main-lyric-container {
  width: 60%;
    height: 80%;
    border: 2px solid #00dffc;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    align-content: stretch;
    justify-content: space-evenly;
    margin:50px auto; 
    padding: 30px;
  margin-bottom: 15px;
}
