.home-image{
  width: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
  }
  
.card-container {
width: 300px;
overflow: hidden;
color: aliceblue;

margin:50px auto;
}

.image-container{
  overflow: hidden;
height: 200px;
}

.card-button{
  width:50%;
  margin-left:25%;
  margin-right:25%;
}

.title-container{
  width: 300px;
  height: 50px;
  font-family: 'Aclonica', sans-serif;
  text-align: center;
}