img{
  widows: 300px;
  height: 200px;
  overflow: hidden;
  border-radius: 30px;
  }
  
.card-container {
width: 300px;
overflow: hidden;
color: aliceblue;
}

.image-container{
  overflow: hidden;
height: 200px;
}

