form { 
  max-width:500px; 
  margin:50px auto; 
}


textarea {
  height: 150px;
  line-height: 150%;
}  
       
.favorite-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 20px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #00dffc;;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus {
   border:2px solid #00dffc; 
  }

.main-form-container{
  border: 2px solid #00dffc;
  border-radius: 20px;
  width:50%;
  margin:50px auto;
}
