.header-container {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  height: 600px;
  width: 100%;
  background-image: url("../Img/BlueHov1.jpg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

}



.home-button-container{
 margin-top: 20px;
 margin-right: 20px;
 position: absolute;
 z-index: 2;
}

.home-title-container{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; 
  justify-content: center; 
  font-family: 'Aclonica', sans-serif;
  font-size: 40px;
}