h2{
  font-family: 'Aclonica', sans-serif;
}
.home-card-container1 {
  display: grid;
    grid-template-rows: repeat(2, 500px);
    gap: 50px;
    grid-auto-flow: column;
    grid-auto-columns: 500px;
    justify-content: center;
    margin:50px auto;
}

.mission-container {
  text-align: center;
  margin:50px auto;
}